.doug {
  background-color: lightcoral;
}

.skippy {
  background-color: lightseagreen;
}

.chuchu {
  background-color: lightpink;
}

@media screen and (min-width: 700px) {
  body {
    background-color: red;
  }

  .animal {
    float: left;
    margin: 10px;
    padding: 10px;
    width: 25%;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: limegreen;
  }

  h2 {
    font-weight: bold;
  }
}